
*.txt linguist-detectable=false
*.cpp linguist-detectable=false
*.c linguist-detectable=false
*.ruby linguist-detectable=false
*.html linguist-detectable=false
*.swift linguist-detectable=false
src/**/*.dart linguist-language=dart